{{ form_start(form, {'attr': {'class': 'needs-validation', 'novalidate': 'novalidate'}}) }}

<div class="card mb-4">
    <div class="card-header bg-primary text-white">
        <h5 class="card-title mb-0">Consultation Details</h5>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    {{ form_label(form.dateCons, 'Date Consultation', {'label_attr': {'class': 'form-label'}}) }}
                    {{ form_widget(form.dateCons, {'attr': {'class': 'form-control'}}) }}
                    <div class="invalid-feedback">
                        {{ form_errors(form.dateCons) }}
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    {{ form_label(form.poid, 'Poid', {'label_attr': {'class': 'form-label'}}) }}
                    {{ form_widget(form.poid, {'attr': {'class': 'form-control'}}) }}
                    <div class="invalid-feedback">
                        {{ form_errors(form.poid) }}
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    {{ form_label(form.taille, 'Taille', {'label_attr': {'class': 'form-label'}}) }}
                    {{ form_widget(form.taille, {'attr': {'class': 'form-control'}}) }}
                    <div class="invalid-feedback">
                        {{ form_errors(form.taille) }}
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    {{ form_label(form.prix, 'Price', {'label_attr': {'class': 'form-label'}}) }}
                    {{ form_widget(form.prix, {'attr': {'class': 'form-control'}}) }}
                    <div class="invalid-feedback">
                        {{ form_errors(form.prix) }}
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    {{ form_label(form.etatPatient, 'Etat de Patient', {'label_attr': {'class': 'form-label'}}) }}
                    {{ form_widget(form.etatPatient, {'attr': {'class': 'form-control'}}) }}
                    <div class="invalid-feedback">
                        {{ form_errors(form.etatPatient) }}
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    {{ form_label(form.hta, 'HTA', {'label_attr': {'class': 'form-label'}}) }}
                    {{ form_widget(form.hta, {'attr': {'class': 'form-control'}}) }}
                    <div class="invalid-feedback">
                        {{ form_errors(form.hta) }}
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    {{ form_label(form.malade, 'Malade', {'label_attr': {'class': 'form-label'}}) }}
                    {{ form_widget(form.malade, {'attr': {'class': 'form-control'}}) }}
                    <div class="invalid-feedback">
                        {{ form_errors(form.malade) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="card mb-4">
    <div class="card-header bg-primary text-white">
        <h5 class="card-title mb-0">Doctor & Patient Information</h5>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    {{ form_label(form.medecin, 'Medecin', {'label_attr': {'class': 'form-label'}}) }}
                    {{ form_widget(form.medecin, {'attr': {'class': 'form-control'}}) }}
                    <div class="invalid-feedback">
                        {{ form_errors(form.medecin) }}
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    {{ form_label(form.patient, 'Patient', {'label_attr': {'class': 'form-label'}}) }}
                    {{ form_widget(form.patient, {'attr': {'class': 'form-control'}}) }}
                    <div class="invalid-feedback">
                        {{ form_errors(form.patient) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="text-center">
    <button class="btn btn-primary btn-lg">{{ button_label|default('Save') }}</button>
</div>

{{ form_end(form) }}